* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
    height: 10px;
    background-color: rgb(32, 34, 56);
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav-logo {
    text-decoration: none;
    color: #e4e4e4;
    font-size: 28px;
    font-weight: bold;
    transition: 0.2s;
}
.nav-logo:hover {
    color: rgb(243, 195, 36);
}
.nav-links {
    flex: 1;
    text-align: right;

}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 6px 10px;
    position: relative;
}
.nav-links ul li a {
    color: #e4e4e4;
    text-decoration: none;
    font-size: 18px;
}
.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(243, 195, 36);
    display: block;
    margin: auto;
    transition: 0.3s;
}
.nav-links ul li:hover::after {
    width: 100%;
}
.nav-btn {
    display: inline-block;
    text-decoration: none;
    color: #252525;
    font-weight: bold;
    padding: 10px 32px;
    font-size: 16px;
    background-color: #e4e4e4;
    margin-left: 0px;
    position: relative;
    cursor: pointer;
    border:none;
    border-radius: 2px;
    transition: 0.2s;
    
}
.nav-btn:hover {
    color: #252525;
    background-color: rgb(243, 201, 36);
}
.hero {
    
    min-height: 70vh;
    width: 100%;
    background-image: linear-gradient(to right, rgba(20, 20, 18, 0.89), rgba(31, 34, 44, 0.78)), url("/images/hero-laptop.webp");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
}
.stretch {
    font-weight: bolder;
    
}
.text-box h1 {
    font-size: 52px;

}
.text-box p {
    margin: 10px 0 20px;
    font-size: 18px;
    color: #e4e4e4;
}
.text-box .name-color {
    color: rgb(243, 195, 36);
}
.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #252525;
    background-color: rgb(243, 195, 36);
    padding: 12px 34px;
    font-size: 16px;
    font-weight: bolder;
    margin-left: 10px;
    position: relative;
    cursor: pointer;
    border-radius: 2px;
    transition: 0.2s;
    margin-top: 20px;
}
.hero-btn:hover {
    color: #252525;
    background-color: #e4e4e4;
}

nav .fa {
    display: none;
}

@media(max-width: 700px) {
    .text-box {
        text-align: center;
    }
    .text-box h1 {
        font-size: 24px;
    }
    .nav-links ul li {
        display: block;
    }
    .nav-links {
        position: absolute;
        background: rgb(32, 34, 56);
        color: #252525;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.3s;
    }
    nav .fa {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
        text-align: left;
    }
    .nav-links ul {
        padding: 30px;

    }
}
/* ----POSTS------ */
.linez {
    margin-top: 5%;
    margin-left: 50px;
    display: flex;
    justify-content: right;
    text-align: right;
}
.yellow {
    background-color: rgb(243, 195, 36);
    width: 60%;
    text-align: center;
    padding-top: 20px;
    display: flex;
}
.purp {
    background-color: rebeccapurple;
    width: 20%;
    
    text-align: center;
    padding-top: 20px;
    display: flex;
    
}
/* ---ABOUT--- */
.about-missions {
    width: 80%;
    margin: auto 0 auto;
    margin-left: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 100px;
    
}

h1 {
    font-size: 36px;
    font-weight: 600;
    padding: 10px;

}
p {
    color: rgb(111, 111, 111);
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row {
    padding: 50px;
    background-color: rgba(172, 172, 172, 0.21);
    margin: auto;
    display: flex;
    justify-content: space-between 5;
    width: 100%;
    
}
.col{
    text-align: left;
}
.col p span {
    color: #252525;
    font-weight: 400;
}
.about-btn {
    text-decoration: none;
    padding: 10px;
    
}
/* ----CATEGORY----- */
.category {
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    transition: background-color 0.2s;
}
h3 {

    padding: 10px;
    padding-top: 5px;
}
.category .row {
    width: 80%;
    padding: 20px;
    background: none;
    transition: background-color 0.2s;
}
.category .col:hover{
    background-color: rgb(255, 225, 103);
    transition: background-color 0.2s ease-in-out;

}
.icons {
    padding-top: 10px;
    padding-left: 10px;
    
}
